div.center
{
  font-size: 60px;
  font-family:"Times New Roman";
  font-style: italic;
  color: white;
  margin: 100px;
}

div.box{
  border: 15px groove blue;
  color : purple;
  background-color: black;
  animation-name: animation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.left
{
  float: left; margin: 0 10px 0 20px;
  position:relative;
  animation-name: animationMove;
  animation-duration: 10s;
  animation-direction: alternate;
}

body
{
  background-image: url("/home/user/Pictures/backgroundCloud.jpg");
  background-repeat: repeat-y;
}

a:hover
{
  background-color: red;
}

@keyframes animation
{
  0%{background-color: black}
  50%{background-color: grey}
  100%{background-color: transparent}
}

@keyframes animationMove
{
  0%{bottom: 0px;left: 0px;}
  25%{bottom: 70px;left:0px;}
  75%{bottom: 70px;left:1000px;}
  100%{bottom: 0px;left:1000px;}
}
